*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/fundo.jpg);
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#gerar{
    border: none;
    padding: 10px;
    color: #ccc;
    background-color: rgb(255, 80, 206);
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}